@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin: 0;
  background-color: rgba(206, 236, 244, 0.4745098039);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 20px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #039992, #4380db);
}
header button {
  padding: 5px 10px;
  border: none;
  background-color: rgb(255, 93, 82);
  color: white;
  cursor: pointer;
  border-radius: 2rem;
}
header button:hover {
  background-color: #d32f2f;
}
header img {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100px;
}
header h1 {
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
  color: antiquewhite;
}
header .logo a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
header .navigation .user-info span {
  margin-right: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.home-container .titulo-vantagens {
  margin-top: 2rem;
  margin-left: 5%;
  font-size: 1.5rem;
}
.home-container .vantagens {
  width: auto;
  max-width: 90%;
  display: flex;
  background-color: #ceecf4;
  justify-content: space-around;
  border-radius: 2rem;
  margin: 0 auto;
  padding: 2rem;
}
.home-container .celular-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.home-container .celular-container .image-celular img {
  width: 250px;
  height: 365px;
}
.home-container .celular-container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  max-width: 200px;
  padding: 1rem;
  gap: 1rem;
  margin-top: 2rem;
}
.home-container .celular-container .content .title {
  font-size: 1.5rem;
  font-weight: bold;
}
.home-container .celular-container .content .text {
  font-size: 1rem;
}
.home-container .celular-container .content .number {
  font-size: 2rem;
}
.home-container .hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
.home-container .hero-section .logo-name h1 {
  font-size: 3em;
  margin-left: 7%;
  margin-right: 3rem;
}
.home-container .hero-section .logo-name p {
  font-weight: bold;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: 0;
  max-width: calc(100% - 4rem);
  background-color: #ceecf4;
  border-radius: 10px;
  padding: 1rem;
}
.home-container .hero-section .image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "imagem imagem" "automed texto" "botao botao";
  gap: 2rem;
  margin-left: 5%;
}
.home-container .hero-section .image-container div.imagem {
  grid-area: imagem;
}
.home-container .hero-section .image-container div.imagem img {
  margin-left: 10%;
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}
.home-container .hero-section .image-container div.automed {
  display: flex;
  align-items: center;
}
.home-container .hero-section .image-container div.automed img {
  height: 100px;
  width: auto;
}
.home-container .hero-section .image-container div.automed h1 {
  font-size: 3rem;
  margin: 0;
}
.home-container .hero-section .image-container div.texto {
  grid-area: texto;
  display: flex;
  background-color: #ceecf4;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  align-items: center;
  justify-content: center;
}
.home-container .hero-section .image-container div.botao {
  grid-area: botao;
  justify-self: end;
  width: -moz-fit-content;
  width: fit-content;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-1px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(1px);
  }
}
.home-container .hero-section .image-container div.botao button {
  padding: 10px 20px;
  background-color: #ceecf4;
  color: #333;
  border-color: white;
  border-radius: 0.5rem;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  box-shadow: none;
}
.home-container .hero-section .image-container div.botao button:hover {
  background-color: #a4dceb;
  animation: shake 0.5s;
  box-shadow: 0 0 0 2px white;
}
.home-container .hero-section .image-container div.botao button:focus {
  box-shadow: 0 0 0 2px white;
}
.home-container .hero-section .text-container {
  position: relative;
  max-width: 500px;
  padding: 0 1rem;
  background-color: #ceecf4;
  border-radius: 2rem;
  height: auto;
}
.home-container .hero-section .text-container .slide-indicators {
  text-align: center;
  position: absolute;
  bottom: -25px;
  width: 100%;
}
.home-container .hero-section .text-container .slide-indicators .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ceecf4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.home-container .hero-section .text-container .slide-indicators .dot.active, .home-container .hero-section .text-container .slide-indicators .dot:hover {
  background-color: #3692ac;
}
.home-container .hero-section .text-container .mySlide {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.home-container .hero-section .text-container .mySlide.active {
  display: flex;
}
.home-container .hero-section .text-container .mySlide img {
  max-width: 100%;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 8%;
  align-items: center;
}
.home-container .hero-section .text-container .mySlide .text-content p {
  text-align: left;
  width: 100%;
  margin-left: 1rem;
}
.home-container .hero-section .text-container .prev, .home-container .hero-section .text-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home-container .hero-section .text-container .prev:hover, .home-container .hero-section .text-container .next:hover {
  background-color: rgb(0, 0, 0);
}
.home-container .hero-section .text-container .prev {
  left: 0;
}
.home-container .hero-section .text-container .next {
  right: 0;
}
.home-container .hero-section .text-container .solution-section,
.home-container .hero-section .text-container .function-section,
.home-container .hero-section .text-container .work-section,
.home-container .hero-section .text-container .more-info-section {
  margin-top: 2rem;
  padding: 0.5rem;
  width: 90%;
}
.home-container .hero-section .text-container .solution-section:not(:last-child),
.home-container .hero-section .text-container .function-section:not(:last-child),
.home-container .hero-section .text-container .work-section:not(:last-child),
.home-container .hero-section .text-container .more-info-section:not(:last-child) {
  border-bottom: 3px solid #a0c4ff;
}
.home-container .hero-section .text-container .solution-section h1,
.home-container .hero-section .text-container .function-section h1,
.home-container .hero-section .text-container .work-section h1,
.home-container .hero-section .text-container .more-info-section h1 {
  font-size: 2em;
}
.home-container .hero-section .text-container .solution-section p,
.home-container .hero-section .text-container .function-section p,
.home-container .hero-section .text-container .work-section p,
.home-container .hero-section .text-container .more-info-section p {
  font-size: 1.25em;
}
.home-container .hero-section .mySlide:first-of-type {
  display: block;
}

@media (max-width: 500px) {
  .home-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .home-container .hero-section .logo-name, .home-container .hero-section .text-container {
    flex-direction: column;
    margin: 0;
  }
  .home-container .hero-section .image-container {
    flex-basis: 58.33%;
    display: flex;
    flex-direction: column;
  }
  .home-container .hero-section div.automed {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .home-container .hero-section div.texto {
    margin-right: 0;
  }
  .home-container .hero-section div.botao {
    display: flex;
    grid-area: botao;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
  .home-container .celular-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-container .vantagens {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ceecf4;
    border-radius: 2rem;
    margin: 0;
  }
  .home-container .hero-section {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
  }
}
@media (max-width: 1104px) {
  .home-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .home-container .hero-section .logo-name, .home-container .hero-section .text-container {
    flex-direction: column;
    margin: 0;
  }
  .home-container .hero-section .image-container {
    flex-basis: 58.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-container .hero-section div.automed {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .home-container .hero-section div.texto {
    margin-right: 0;
  }
  .home-container .hero-section div.botao {
    display: flex;
    grid-area: botao;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
  .home-container .vantagens {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ceecf4;
    border-radius: 2rem;
    margin: 0;
  }
  .home-container .hero-section {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
  }
}
@media (min-width: 1105px) {
  .home-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .home-container .hero-section .logo-name, .home-container .hero-section .text-container {
    width: 41.67%;
    margin-right: 10%;
  }
  .home-container .hero-section .image-container {
    flex-basis: 58.33%;
  }
  .home-container div.automed {
    grid-area: automed;
    margin-top: 1.5rem;
    margin-left: 25%;
    font-size: 2rem;
  }
  .home-container div.texto {
    margin-right: 20%;
  }
  .home-container div.botao {
    margin-right: 10%;
  }
  .home-container .vantagens {
    width: 100%;
    display: flex;
    background-color: #ceecf4;
    border-radius: 2rem;
    margin-left: 4%;
    margin-bottom: 2rem;
  }
  .home-container .hero-section {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */